body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
}

.gsc-control-cse-es {
    border-radius: 25px;
    border-color: #D1A3D8;
}

.gsc-control-cse, .gsc-control-cse-es {
    width: 60%;
    margin: 20px auto;
}

.container {
    color: #FFF;
    display: flex;
    flex-direction: column;
    margin: 0;
    background: linear-gradient(180deg, #38042F 0%, #8E0576 50%, #D201A5 100%);
}

.div_foto_perfil {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_foto_perfil img {
    width: 25rem;
}

h1 {
    text-align: center;
    margin: 16px 0;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: #FFF;
    font-size: 22px;
}

h2 {
    text-align: center;
    margin: 16px;
    font-family: "Montserrat", sans-serif;
    color: #FFF;
}
h4{
    text-align: center;
}

p {
    text-align: center;
    font-size: 16px;
    margin: 12px auto;
    line-height: 1.8;
    font-family: "Montserrat", sans-serif;
}

.descripcion {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    width: 60%;
    margin: 20px auto;
}

a, .acordeon-button, .boton-imagenes {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px;
    margin-top:20px;
    color: white;
    background-color: #D201A5;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
}

a:hover, .acordeon-button:hover, .boton-imagenes:hover {
    background-color: #B80082;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#noticiasContainer {
    text-align: center;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: rgba(0, 0, 0, 0.85) 1px 2px 6px;
    width: 100%;
    padding: 24px 0;
}

#infobaeBtn, #carasBtn, #telefeBtn, #tnBtn {
    text-decoration: none;
    width: 80%;
    text-align: center;
    font-size: 16px;
    padding: 16px 24px;
    margin: 10px auto;
    color: white;
    background-color: #C8019E;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
}

#infobaeBtn:hover, #carasBtn:hover, #telefeBtn:hover, #tnBtn:hover {
    background-color: #A70075;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#noticias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    padding: 0 20px;
    margin: 40px auto;
    min-height: 100vh;
    border-top: solid rgba(255, 255, 255, 0.5) 1px;
}

.noticia {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 16px 24px;
    margin: 24px;
    background-color: #B6349D;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.7) 1px 2px 8px;
}

.noticia h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

img {
    width: 100%;
    margin: auto;
    border-radius: 12px;
}

#cargando, #cargando2 {
    text-align: center;
    font-size: 16px;
    margin: 8px;
    color: #FFF;
}

.banner {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(0, 0, 0, 0.8) 1px 2px 6px;
}

/* Tablets (entre 600px y 900px) */
@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
    }
  
    .navbar a {
        padding: 1rem;
    }
  
    .div_foto_perfil img {
        width: 80%;
    }
  
    .descripcion {
        width: 80%;
    }
}

/* Móviles (menos de 600px) */
@media (max-width: 700px) {
    h1 {
        font-size: 24px;
    }
  
    .descripcion {
        width: 90%;
    }
  
    #noticias {
        flex-direction: column;
        margin-top: 0;
    }
  
    .noticia {
        margin: 16px 0;
    }
}
