<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noticias</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <div id="cargando"><p>Cargando...</p></div>
      </div>
      <!-- Sección de foto de perfil y título -->
      <div class="div_foto_perfil">
        <img
          src="{{ url_for('static', filename='img/LOGODESENCHUFADAS2-TRANSPARENTE.svg') }}"
          alt="Logo de Desenchufadas"
        />
      </div>
      <h1>PLATAFORMA DE CONTENIDO DESENCHUFADAS⚡</h1>
      <p class="descripcion">
        Lo último sobre el mundo del espectáculo de
        fuentes como INFOBAE y REVISTA CARAS.<br>Ya no hay excusas para subir contenido.
        
      </p>
      <div
        class="iframe_instagram"
        style="overflow: hidden; width: 100%; max-width: 540px; margin: 0px auto"
      >
        <blockquote
          class="instagram-media"
          data-instgrm-permalink="https://www.instagram.com/desenchufadas.ok"
          data-instgrm-version="12"
          style="
            background: #fff;
            border: 0;
            border-radius: 3px;
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5),
              0 1px 10px 0 rgba(0, 0, 0, 0.15);
            margin: 0px 0px;
            max-width: 540px;
            min-width: 326px;
            padding: 0;
            width: 100%;
            height: 27rem;
          "
        ></blockquote>
        <script async defer src="//www.instagram.com/embed.js"></script>
        <div id="noticiasContainer">
          <h2>EXPLORAR MEDIO</h2>
          <button id="infobaeBtn">INFOBAE</button>
          <button id="carasBtn">CARAS</button>
          <button id="telefeBtn">TELEFE</button>
          <button id="tnBtn">TN</button>
        </div>
          <div id="cargando2"><p>Cargando...</p></div>
        </div>


      <div id="noticias"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
